@font-face {
    font-family: 'Messina Sans Mono SemiBold';
    src: url('../../fonts/MessinaSans/MessinaSansMono-Bold.ttf') format('truetype');

    font-style: normal;
  }

  @font-face {
    font-family: 'Messina Sans Mono';
    src: url('../../fonts/MessinaSans/MessinaSansMono-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Messina Sans Mono Regular';
    src: url('../../fonts/MessinaSans/MessinaSansMono-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Biro Script Plus Bold US';
    src: url('../../fonts/BiroScript/BiroScriptPlus-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Biro Script Plus Bold';
    src: url('../../fonts/BiroScript/BiroScriptPlus-Sloppy.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Right Grotesk Compact';
    src: url('../../fonts/RightGrotesk/RightGrotesk-CompactBlack.otf') format('opentype');
  }